#main-row {
    margin-top: 50px;
}

#login_form ul {
    list-style: none;
    margin-left: 0;
}

a.admin {
    float: right;
}

.head.grid label {
    float: none;
}

.sync_form input.sync_all.btn, .sync_form input.new_app_key.btn {
    float: left;
    margin-right: 15px;
}

select.login_selector{
    margin: 0;
    text-align: right;
    width: 10em;
}

table .btn {
    padding-top: 2px;
    padding-bottom: 2px;
}

table.access_view th, table.access_view td {
    text-align: center;
    padding: 2px;
}
table.access_view td span.twipsy
{
    position: inherit;
    padding: 0;
    margin: 0;
}

table.access_view tr.top_header {
    font-size: 14px;
}
table.access_view td.entry.is_allowed.active {
    background: url(../images/tick.png) no-repeat center;
}
table.access_view td.entry.active {
    background: url(../images/cross.png) no-repeat center;
}
table.access_view td.entry.is_allowed {
    background: url(../images/tick-gray.png) no-repeat center;
}
table.access_view td.entry {
    background: url(../images/cross-gray.png) no-repeat center;
}

form.logout {
    float: right;
}

/* Logs */
div.log {
    font-size: 10px;
    font-weight: bold;
}

div.log div.stderr, div.log div.stdout {
    font-weight: normal;
    font-size: 8px;
}

div.log div.stdout {
    color: green;
}

div.log div.stderr {
    color: red;
}

form {
    margin: 0;
}
