table.access_view {
    font: 13.34px helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.4;
    border: solid 1px black;
 }
table,th, td
{
    border-collapse:collapse;
    padding:4px 4px;
}
table.access_view thead{
    
}
table.access_view td.dirty {
    color: red;
}
table.access_view td.clean {
    color: green;
}
table.access_view tr.top_header {
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: solid 1px black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(206,220,231) 0%, rgb(89,106,114) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(206,220,231)), color-stop(100%,rgb(89,106,114))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(206,220,231) 0%,rgb(89,106,114) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(206,220,231) 0%,rgb(89,106,114) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(206,220,231) 0%,rgb(89,106,114) 100%); /* IE10+ */
    background: linear-gradient(top,  rgb(206,220,231) 0%,rgb(89,106,114) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

}
.sync_form{
    float:left;
}
select.login_selector{
    margin:0; 
    text-align:right; 
    width:10em;
}
table.access_view tr.row2 {
    background-color: rgb(200, 200, 900);
}

table.access_view tr.row1 {
    background-color: #ffffff;
}

table.access_view tfoot {
    font-style: normal;
}
table.access_view td.entry.is_allowed.active {
    background: url(/static/images/tick.png) no-repeat;
}
table.access_view td.entry.active {
    background: url(/static/images/cross.png) no-repeat;
}
table.access_view td.entry.is_allowed {
    background: url(/static/images/tick-gray.png) no-repeat;
}
table.access_view td.entry {
    background: url(/static/images/cross-gray.png) no-repeat;
}
