form.filter {
    margin-top: 50px;
}

form.filter ul li {
    margin-right: 10px;
    float: left;
}

form ul {
    list-style: none;
    margin-left: 0;
}

a.admin {
    float: right;
}

.head.grid label {
    float: none;
}

.sync_form input.sync_all.btn, .sync_form input.new_app_key.btn {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

select.login_selector{
    margin: 0;
    text-align: right;
    width: 10em;
}

table .btn, table .btn-success, .btn-primary {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}

table.access_view {
    clear: both;
}
table.access_view th, table.access_view td {
    text-align: center;
    padding: 2px;
}
table.access_view td span.twipsy
{
    position: inherit;
    padding: 0;
    margin: 0;
}

td.entry a:hover {
    text-decoration: none;
}
td.entry span:hover {
    cursor:default;
}
table.access_view tr.top_header {
    font-size: 14px;
}
table.access_view td.entry.is_allowed.active {
    background: url(../images/tick.png) no-repeat center;
}
table.access_view td.entry.active {
    background: url(../images/cross.png) no-repeat center;
}
table.access_view td.entry.is_allowed {
    background: url(../images/tick-gray.png) no-repeat center;
}
table.access_view td.entry {
    background: url(../images/cross-gray.png) no-repeat center;
}

form.logout {
    float: right;
}

/* Logs */
div.log {
    font-size: 10px;
    font-weight: bold;
}

div.log div.stderr, div.log div.stdout {
    font-weight: normal;
    font-size: 8px;
}

div.log div.stdout {
    color: green;
}

ul.errorlist {
    color: red;
}

div.log div.stderr {
    color: red;
}

form {
    margin: 0;
}

div.ssh.textareas div {
    float: left;
}
div.ssh.textareas div  textarea {
    margin-right: 5px;
    width: 150px;
}
div.ssh.textareas div label {
    font-weight: bold;
    font-size: 10px;
}
div.log {
    clear: both;
}

