{% load flatpages %}
<!doctype html>
<html>
  <head>
    <title>ssheepdog</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.responsive.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-client.js"></script>

  </head>
  <body>

    {% block topbar %}


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">SSHeepdog</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% if perms.ssheepdog.can_view_access_summary %}
              <li><a href="{% url 'ssheepdog.views.view_access_summary' %}">Access Summary</a></li>
              {% endif %}
              <li><a href="/awspolicies/">AWS Policies</a></li>
              <li><a href="/admin/">Admin</a></li>
              {% get_flatpages as flatpages %}
              {% for page in flatpages %}
              <li><a href="{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
              {% if request.user.is_staff %}
              {% endif %}
            </ul>
            <p class="navbar-text pull-right"><a href="{% url 'logout' %}">Logout</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    {% endblock %}

    <div class="container-fluid">

      <div id="main-row" class="row-fluid">
        {% block content %}
        {% endblock %}
      </div>

    </div><!-- end of container -->
  </body>
</html>
