{% extends 'base.html' %}
{% block content %}

<div class="head grid">
  <form class="filter" action="{% url ssheepdog.views.view_access_summary %}" method="get">
   <ul>
      {{ filter_form.as_ul }}
      <li><label>&nbsp;</label><input class="btn" type="submit" value="filter"/></li>
    </ul>
  </form>
</div>

{% if logins and users %}
<table class="access_view table-bordered">
    <thead>
        <tr class="top_header">
            <th></th>
            <th>Client</th>
            <th>Machine</th>
            <th>Login</th>
            {% for user in users %}
            <th><a class="user" href="{% url ssheepdog.views.user_admin_view user.pk %}">{{ user.get_nickname }}</a></th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>

        {% for login in logins %}

            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    {% if login.is_dirty %}
                        {% if perms.ssheepdog.can_sync %}
                        <form class="sync_form" action="{% url ssheepdog.views.sync_keys %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{ login.pk }}">
                            <input class="btn btn-primary" type="submit" value="sync" />
                        </form>
                        {% else %}
                        <input class="btn-primary" type="submit" value="       ">
                        {% endif %}
                    {% else %}
                    <input class="btn-success" type="submit" value="       ">
                    {% endif %}
                </td>
                <td title="{{ login.client.description }}">{{ login.client.nickname }}</td>
                <td title="{{ login.machine.description }}">{{ login.machine.nickname }}</td>
                <td title="{{ login.description }}"> <a class="login" href="{% url ssheepdog.views.login_admin_view login.pk %}"> {{login.username}} </a></td>

                {% for entry in login.entries %}
                    {% comment %}
                        Add two classes: is_allowed or not_allowed AND active or inactive
                        For example:  class="allowed active"
                    {% endcomment %}
                    <td class="entry {% if entry.is_allowed %}is_allowed{% endif %} {% if entry.is_active %}active{% endif %}">
                      {% if perms.ssheepdog.change_login %}
                      <a class="login" href="{% url ssheepdog.views.change_access entry.action entry.user.pk login.pk %}">
                        <span class="twipsy" title="{{ entry.tooltip }}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      </a>
                     {% else %}
                      <span class="twipsy" title="{{ entry.tooltip }}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

    </tbody>

</table>

{% if perms.ssheepdog.can_sync %}
<form class="sync_form" action="{% url ssheepdog.views.sync_keys %}" method="post">
    {% csrf_token %}
    <input class="sync_all btn  btn-primary" type="submit" value="Synchronize all" />
</form>

<form class="sync_form" action="{% url ssheepdog.views.generate_new_application_key %}" method="post">
    {% csrf_token %}
    <input class="new_app_key btn btn-primary" type="submit" value="Generate new application key" />
</form>
{% endif %}

{% else %}
  <p>No {% if logins %}users{% else %}logins{% endif %}</p>
{% endif %}

<div id="modal" class="modal hide fade">

    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>More Information</h3>
    </div>

    <div class="modal-body">
    </div>

    <div class="modal-footer">
        <a href="#" class="btn primary">Close</a>
    </div>

</div>

{% endblock %}
