{% block content %}
{% if perms.can_change_login %}
<a class="admin" href="{{login.get_change_url }}">edit login</a>
{% endif %}

<div class="username_div">
    <div>Username: {{ login.username }}</div>
</div>
<div class="machine_div">
    <div>Machine: {{ login.machine }}
      {% if perms.can_change_machine %}
      <a class="admin" href="{{login.machine.get_change_url }}">edit machine</a>
      {% endif %}
   </div>
</div>
<div class="client_div">
    <div>Client:
        {% if login.client %}
            {{ login.client }} {% if perms.can_change_machine %}
                               <a class="admin" href="{{login.client.get_change_url }}">edit client</a>
                               {% endif %}
       {% else %}{% if login.machine.client %} {% if perms.can_change_machine %}
                                               <a class="admin" href="{{login.machine.client.get_change_url }}">edit client</a>
                                               {% endif %}
            {{ login.machine.client }}
        {% endif %}{% endif %}
    </div>
    <div>Description:</div><textarea> {{ login.client.description }}</textarea>
</div></br>
<div class="machine_info">
    <div>Hostname: {{ login.machine.hostname }}</div>
    <div>IP: {{ login.machine.ip }}</div>
    <div>Port: {{ login.machine.port }} </div>
</div></br>
<div class="app_key_div">
    <div>Application Key: <textarea>{{ login.formatted_public_key }}</textarea></div>
</div>
{% with log=login.get_last_log %}
{% if log %}
<div class="log">
  Last activity {{ log.date }}<br/>{{ log.message }}
  {% if log.stderr %}
  <div class="stderr">
    {{ log.stderr }}
  </div>
  {% endif %}
  {% if log.stdout %}
  <div class="stdout">
    {{ log.stdout }}
  </div>
  {% endif %}
</div>
{% endif %}
{% endwith %}
{% endblock %}
