{% extends 'base.html' %}
{% block content %}
<table class="access_view">
<thead>
<tr class="top_header">
<th></th>
{% for employee in users %}
	<th>{{ employee.nickname }}</th>
{% endfor %}
</tr>
</thead>
{% for login in logins %}
<tr class="{% cycle 'row1' 'row2' %}">
	<th> {{login.username}} </th>
	{% for entry in login.entries %}
		{% if entry.all_active %}
			{% if entry.is_allowed %}
            <td class="tick"> </td>
			{% else %}
				<td class="cross"> </td>
			{% endif %}
		{% else %}
			<td class="gray"> </td>
		{% endif %}
	{% endfor %}
	</tr>
{% endfor %}
</table>
<form class="sync_form" action="{% url ssheepdog.views.results_page %}" method="post">
{% csrf_token %} 
<input class="sync" type="submit" value="sync keys" id="sync_form"/>
</form>
{% endblock %}
